.modal-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(color(black), .5);
    z-index: 5;
    opacity: 0;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.modal-mask_opened {
    animation-name: modalMaskFadeIn;
}
.modal-mask_closed {
    animation-name: modalMaskFadeOut;
}

@keyframes modalMaskFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes modalMaskFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
