.modal-window {
    position: fixed;
    left: 50%;
    top: 50%;
    padding: $bit * 4;
    background-color: color(white);
    border-radius: $radius;
    box-shadow: shadow(3-lvl);
    z-index: 10;
    transform: translate(-50%, calc(-50% + #{$bit * 10})) scale(.85);
    opacity: 0;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}
.modal-window_opened {
    animation-name: modalWindowFadeIn;
}
.modal-window_closed {
    animation-name: modalWindowFadeOut;
}

.modal-window__close {
    position: absolute;
    left: calc(100% + #{$bit * 2});
    top: 0;
}

@keyframes modalWindowFadeIn {
    0% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + #{$bit * 10})) scale(.85);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}
@keyframes modalWindowFadeOut {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        opacity: 0;
        transform: translate(-50%, calc(-50% + #{$bit * 10})) scale(.85);
    }
}
