.page-layout {
    display: grid;
    grid-template-areas: 'nav header'
                         'nav main';
    grid-template-columns: minmax(0, max-content) auto;
    grid-template-rows: minmax(0, max-content) auto;

    height: 100%;
    background-color: color(light-gray);
    overflow: hidden;
}

.page-layout__nav {
    grid-area: nav;
}
.page-layout__header {
    grid-area: header;
}
.page-layout__main {
    grid-area: main;
    overflow-y: scroll;
}
