$field-height: 56px;
$field-color: color(dark-gray);
$field-color-active: color(primary);
$field-color-valid: color(success);
$field-color-invalid: color(secondary);

:root {
	--field-border-color: #{getRGB($field-color)};
}

::placeholder {
    color: color(medium-gray);
}

.field {
    position: relative;
    display: flex;
    flex-direction: column;
}
.field:focus-within {
	--field-border-color: #{getRGB($field-color-active)};
}
.field_valid,
.field_valid:focus-within {
	--field-border-color: #{getRGB($field-color-valid)};
}
.field_invalid,
.field_invalid:focus-within {
	--field-border-color: #{getRGB($field-color-invalid)};
}

.field__title {
    order: -1;
    margin-bottom: $bit;
    padding: 0 ($bit / 2);
    color: color(black);
    transition: color 250ms;
}

.field__helper {
	position: relative;
    margin: 0;
    padding: $bit ($bit / 2);
    color: color(medium-gray);
    font-size: font-size(small);
    line-height: 1;
    transition: opacity 250ms, transform 250ms;
}

.field__error {
	position: absolute;
	left: 0;
	top: 0;
    padding: $bit ($bit / 2);
    color: $field-color-invalid;
    background-color: color(white);
    font-size: font-size(small);
    opacity: 0;
	transform-origin: 0 100%;
	transform: translateY($bit * -3) scale(.8);
	transition: transform 250ms, opacity 250ms;

    .field_invalid & {
        opacity: 1;
		transform: translateY(0) scale(1);
    }
}

@import "inputs";
@import "selects";
@import "types";


//
// .field__text {
//     .input__field:focus + & {
//         color: $field-color-focus;
//     }
//     .input__field_status_valid + &,
//     .input__field_status_valid:focus + & {
//         color: $field-color-success;
//     }
//     .input__field_status_invalid + &,
//     .input__field_status_invalid:focus + & {
//         color: $field-color-error;
//     }
//
//     .input_floating & {
//         position: absolute;
//         top: $bit * 1.5;
//         left: $bit;
//         margin-left: 0;
//     cursor: text;
//     line-height: 1;
//     transform-origin: left top;
//     background-color: color(white);
//     transition: transform 250ms, color 250ms;
//     }
//     .input_floating .input__field:focus + & {
//         transform: translateY($bit * -3) scale(.8);
//     }
//     .input_floating .input__field_filled + & {
//         transform: translateY($bit * -3) scale(.8);
//     }
// }
//
// .input__field_status_invalid {
//     border-color: $field-color-error;
//
//     &:focus {
//         border-color: $field-color-error;
//     }
//     &:hover {
//         border-color: darken($field-color-error, $field-darken);
//     }
// }
//
// .input__helper {
//     .input__field_status_invalid ~ & {
//         opacity: 0;
//         transform: translateY(24px);
//     }
// }
// .input__error {
//     position: absolute;
//     top: 56px;
//     color: color(secondary);
//     background-color: color(white);
//     opacity: 0;
//     transform: translateY(24px);
//     z-index: 3;
//
//     .input__field_status_invalid ~ & {
//         opacity: 1;
//         transform: translateY(0);
//     }
// }
