.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 (-$bit) 0;
    padding: 0;
    list-style: none;
    font-size: font-size(large);
}

.breadcrumbs__item {
    position: relative;
    margin-bottom: $bit;
    &:not(:last-child) {
        margin-right: $bit;
    }
    white-space: nowrap;

    &:not(:last-child)::after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-left: $bit;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: contain;
        background-image: url(../img/ico/keyboard_arrow_right-24px.svg);
        opacity: .5;
    }
}
