.page-mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(color(black), .5);
    z-index: 5;
    opacity: 0;
    visibility: hidden;
    transition: background-color 250ms, opacity 250ms, visibility 1ms linear 250ms;

    &:hover {
        background-color: rgba(color(black), .4);
    }
}
.page-mask_active {
    opacity: 1;
    visibility: visible;
    transition: background-color 250ms, opacity 250ms;
}
