.page-main {
    padding: $bit * 6;
    background-color: color(light-gray);
    background-size: 100% rem-calc(64);
    background-repeat: no-repeat;
    background-position: top right;
}

.page-main__content {
    max-width: rem-calc(800);
    margin: auto;
    margin-bottom: $bit * 5;
    background-color: color(white);
    border-radius: $radius;
    box-shadow: shadow(1-lvl);
}
