$ico-button-colors: (
    white: (
        bg: color(white),
    ),
    primary: (
        bg: color(primary),
        bg-hover: lighten(color(primary), 10%), // if need to change base shift for hovered bg
    ),
);

.ico-button_color {
    @each $name, $colors in $ico-button-colors {
        &_#{$name} {
            background-color: map-get($colors, bg);

            &:hover {
                @if (map-has-key($colors, bg-hover)) {
                    background-color: map-get($colors, bg-hover);
                } @else {
                    background-color: darken(map-get($colors, bg), 10%);
                }
            }
        }
    }
}
