$ico-button-sizes: (
    small: $bit * .5,
    large: $bit * 1.5,
);

.ico-button_size {
    @each $name, $size in $ico-button-sizes {
        &_#{$name} {
            padding: $size;
        }
    }
}
