.card {
    padding: $bit * 4;
    background-color: color(white);
    border-radius: $radius;
    box-shadow: shadow(1-lvl);
}
.card__header {
    padding-bottom: 0;

    > *:last-child {
        margin-bottom: 0;
    }
}
.card__body {

    > *:last-child {
        margin-bottom: 0;
    }
}
.card__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $bit * -2;

    > * {
        margin-bottom: $bit * 2;
    }
}
.card__footer_justify_start {
    justify-content: flex-start;
}
.card__footer_justify_end {
    justify-content: flex-end;
}
