.card {
    padding: $bit * 4;
    background-color: color(white);
    border: 1px solid color(light-gray);
    border-radius: $radius;
    box-shadow: shadow(1-lvl);

    > *:last-child {
        margin-bottom: 0;
    }
}
.card__header {
    margin: ($bit * -4) ($bit * -4) ($bit * 4);
    padding: $bit * 4;
    border-bottom: 1px solid color(light-gray);

    > *:last-child {
        margin-bottom: 0;
    }
}
.card__body {
    margin: ($bit * -4) ($bit * -4) ($bit * 4);
    padding: $bit * 4;
    border-bottom: 1px solid color(light-gray);

    > *:last-child {
        margin-bottom: 0;
    }
}
.card__footer {
    margin: ($bit * -4) ($bit * -4) 0;
    padding: ($bit * 4) ($bit * 4) 0;

    > *:last-child  {
        margin-bottom: 0;
    }
}
