$colors: (
    primary: #0B3FD1,
    secondary: #ff5555,
    white: #fff,
    light-gray: #f5f5f5,
    medium-gray: #BDBDBD,
    dark-gray: #424242,
    black: #000,
);

@function color($name) {
    @return map-get($colors, $name);
}
