$buttons-colors: (
    default: color(light-gray),
    white: color(white),
    primary: color(primary),
);
$button-color-scale: 16%;
$button-color-threshold: 80%;

.button {
    color: color-pick-contrast(map-get($buttons-colors, default));
    background-color: map-get($buttons-colors, default);

    &:hover {
        color: color-pick-contrast(map-get($buttons-colors, default));
        background-color: smart-scale(map-get($buttons-colors, default), $button-color-scale, $button-color-threshold);
    }
}
.button_color {
    @each $name, $color in $buttons-colors {
        @if ($name != default) {
            &_#{$name} {
                color: color-pick-contrast($color, (color(white), color(black)), 10);
                background-color: $color;

                &:active {
                    background-color: smart-scale($color, $button-color-scale, $button-color-threshold);
                }
                &:hover {
                    color: color-pick-contrast($color, (color(white), color(black)), 10);
                    background-color: smart-scale($color, $button-color-scale, $button-color-threshold);
                }
            }
        }
    }
}
