.flex__item_align_start {
    align-self: flex-start;
}

.flex__item_align_center {
    align-self: center;
}

.flex__item_align_end {
    align-self: flex-end;
}

.flex__item_align_stretch {
    align-self: stretch;
}
