$ico-sizes: (
    default: rem-calc(24),
    small: rem-calc(16),
    large: rem-calc(32),
);

.ico {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: map-get($ico-sizes, default);
    height: map-get($ico-sizes, default);

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.ico_size {
    @each $name, $size in $ico-sizes {
        @if ($name != default) {
            &_#{$name} {
                width: $size;
                height: $size;
            }
        }
    }
}
