.menu {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu__link {
    display: block;
    padding: ($bit * 1.5) ($bit * 2);
    color: color(black);
    transition: background-color 250ms, color 250ms;

    &:hover {
        color: color(primary);
        background-color: color(light-gray);
    }
    .menu__item_active & {
        color: color(white);
        background-color: color(primary);

        &:hover {
            color: color(secondary);
        }
    }
}
