.section {
    padding: $bit * 4;
    background-color: color(white);
    border-radius: $radius;
    box-shadow: shadow(1-lvl);

    .section__header,
    .section__body,
    .section__footer {
        &:not(:last-child) {
            margin-bottom: $bit * 4;
        }
    }
}
.section__header {
    padding-bottom: 0;

    > *:last-child {
        margin-bottom: 0;
    }
}
.section__body {

    > *:last-child {
        margin-bottom: 0;
    }
}
.section__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $bit * -2;

    > * {
        margin-bottom: $bit * 2;
    }
}
.section__footer_justify_start {
    justify-content: flex-start;
}
.section__footer_justify_end {
    justify-content: flex-end;
}
