.menu {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu_vertical {
    flex-direction: column;
}
.menu_dropdown {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: rem-calc(200);
    padding: $bit 0;
    background-color: color(white);
    border: 1px solid color(light-gray);
    border-radius: $radius;
    box-shadow: shadow(1-lvl);
    visibility: hidden;
    opacity: 0;
    transform: translateY(-$bit);
    z-index: 2;
    transition: opacity 250ms, transform 1ms linear 250ms, visibility 1ms linear 250ms;

    .menu__item:hover > &,
    .menu__item:focus-within > & {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
        transition: opacity 250ms, transform 250ms;
    }
    .menu_vertical & {
        left: 100%;
        top: -$bit - rem-calc(1);
    }
}

.menu__item {
    position: relative;
    transition: background-color 250ms;

    &:hover {
        background-color: color(light-gray);
    }
}
.menu__item_active {
}

.menu__link {
    display: block;
    padding: ($bit * 1.5) ($bit * 2);
    color: color(black);
    border-radius: $radius;
    transition: background-color 250ms, color 250ms;
    outline-offset: -2px;

    .menu_vertical & {
        border-radius: 0;
    }
    &:hover {
        color: color(primary);
    }

    .menu__item_active > & {
        color: color(white);
        background-color: color(primary);
        outline-color: rgba(color(white), .5);

        &:hover {
            color: color(white);
            background-color: smart-scale(color(primary));
        }
    }
    .menu__item_has_dropdown > & {
        position: relative;
        padding-right: $bit * 4;

        &::after {
            content: '';
            position: absolute;
            right: $bit * 2;
            top: calc(50% - #{$bit / 4});
            transform: translateY(-50%) rotate(45deg);
            width: $bit * .75;
            height: $bit * .75;
            border-style: solid;
            border-width: rem-calc(0 2 2 0);
            border-color: color(black);
            opacity: .5;
            transition: border-color 250ms;

            .menu_vertical & {
                top: 50%;
                transform: translateY(-50%) rotate(-45deg);
            }
        }
        &:hover::after {
            border-color: color(primary);
        }
    }
    .menu__item_has_dropdown.menu__item_active > & {
        &::after {
            border-color: color(white);
        }
    }
}
