.alert {
    position: fixed;
    top: $bit * 4;
    left: 50%;
    transform: translateX(-50%);
    padding: $bit * 4;
    color: color(white);
    background-color: color(secondary);
    border-radius: $radius;
    box-shadow: shadow(3-lvl);
    z-index: 100;
}
