.warning {
    display: flex;
    margin: 0;
    padding: $bit * 4;
    background-color: color(white);
    border: 1px solid color(warning);
    border-radius: $radius;
    box-shadow: shadow(1-lvl, color(warning));
}

.warning__ico {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: $bit * 4;
}

.warning__text {
    > *:last-child {
        margin-bottom: 0;
    }
}
