$button-colors: (
    white: (
        bg: color(white),
    ),
    primary: (
        bg: color(primary),
        color: color(white), // if need to change text color use this key
        bg-hover: lighten(color(primary), 10%), // if need to change base shift for hovered bg
    ),
);

.button_color {
    @each $name, $colors in $button-colors {
        &_#{$name} {
            background-color: map-get($colors, bg);

            @if (map-has-key($colors, color)) {
                color: map-get($colors, color);
            }
        }

        &_#{$name}:hover {
            // Hover color need not changing
            @if (map-has-key($colors, color)) {
                color: map-get($colors, color);
            }

            @if (map-has-key($colors, bg-hover)) {
                background-color: map-get($colors, bg-hover);
            } @else {
                background-color: darken(map-get($colors, bg), 10%);
            }
        }
    }
}
