$button-focus-shift: $bit;

.button {
    position: relative;
    display: inline-block;
    border: none;
    border-radius: $radius;
    font-weight: font-weight(medium);
    line-height: 1;
    text-transform: uppercase;
    transition: background-color 200ms, box-shadow 200ms;

    &:focus {
        outline-width: 2px;
        outline-style: solid;
        outline-color: rgba(color(primary), .2);
        outline-offset: $bit;
    }
}
