$switch-width: 40px;
$switch-height: 20px;
$switch-border-size: 2px;
$switch-inner-margin: 2px;

// Calc other sizes
$switch-inner-size: $switch-height - ($switch-border-size * 2) - ($switch-inner-margin * 2);
$switch-inner-shift: ($switch-width / 2) - ($switch-inner-size / 2) - $switch-border-size - $switch-inner-margin;


.switch {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	padding-left: $switch-width + $bit * 1.5;
	background-color: transparent;
	border: none;

    &::before,
	&::after {
        content: '';
	    position: absolute;
		left: 0;
		top: 50%;
	    display: block;
	}
    &::before {
	    width: $switch-width;
	    height: $switch-height;
	    border: $switch-border-size solid color(dark-gray);
	    border-radius: $switch-height;
	    background-color: color(white);
		transform: translateY(-50%);
	    transition: border-color 250ms;
	}
    &::after {
		left: ($switch-height - $switch-inner-size) / 2;
        width: $switch-inner-size;
        height: $switch-inner-size;
        background-color: color(dark-gray);
        border-radius: 50%;
		transform: translateY(-50%) translateX($switch-inner-shift);
        transition: background-color 250ms, transform 250ms;
    }

    &:hover {
        border-color: color(black);

        &::after {
            background-color: color(black);
        }
    }
    &:focus {
		outline: none;

	    &::before {
	        outline-width: 2px;
	        outline-style: solid;
	        outline-color: rgba(color(primary), .2);
	        outline-offset: $bit;
		}
    }

    &[aria-checked='true'] {
	    &::before {
	        border-color: color(primary);
		}
        &::after {
            background-color: color(primary);
            transform: translateY(-50%) translateX($switch-inner-shift * 2);
        }
    }
    &[aria-checked='false'] {
        &::after {
            transform: translateY(-50%);
        }
    }
}
