$ico-buttons-colors: (
    default: color(white),
    // white: color(white),
    primary: color(primary),
);

.ico-button {
    color: color-pick-contrast(map-get($ico-buttons-colors, default));
    background-color: map-get($ico-buttons-colors, default);

    &:hover {
        color: color-pick-contrast(map-get($ico-buttons-colors, default));
        background-color: smart-scale(map-get($ico-buttons-colors, default));
    }
}
.ico-button_color {
    @each $name, $color in $ico-buttons-colors {
        @if ($name != default) {
            &_#{$name} {
                color: color-pick-contrast($color, (color(white), color(black)), 10);
                background-color: $color;

                &:active {
                    background-color: smart-scale($color);
                }
                &:hover {
                    color: color-pick-contrast($color, (color(white), color(black)), 10);
                    background-color: smart-scale($color);
                }
            }
        }
    }
}
