$ico-button-focus-shift: $bit;

.ico-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 50%;
    transition: background-color 200ms, box-shadow 200ms;

    &::before {
        content: '';
        position: absolute;
        left: $ico-button-focus-shift * -2;
        right: $ico-button-focus-shift * -2;
        top: $ico-button-focus-shift * -2;
        bottom: $ico-button-focus-shift * -2;
        border: 2px solid color(medium-gray);
        border-radius: 50%;
        opacity: 0;
        transition: left 200ms, right 200ms, top 200ms, bottom 200ms, opacity 200ms;
    }
}
