.button {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 24px;
  border: none;
  border-radius: 6px;
  color: #fff;
  background-color: #1a73e8;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  transition: background-color 200ms, box-shadow 200ms; }

.button:hover {
  background-color: #135cbc; }

.button:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(26, 115, 232, 0.3); }

.button:active {
  box-shadow: 0 7px 10px -5px rgba(26, 115, 232, 0.4); }

.button[disabled] {
  opacity: .5;
  background-color: #1a73e8;
  box-shadow: none; }

.button::-moz-focus-inner {
  border-style: none;
  padding: 0; }
